{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Map Student to Project {% endblock %}</h1>
<form method="post">
    <label for="student_name">Student Name</label>
    <select name="student_dropdown">
        {% for student in students %}
            <option value="{{ student['student_id'] }}">{{ student['name'] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="client_name">Client Name</label>    
    <select name="client_dropdown">
        {% for client in clients %}
            <option value="{{ client['client_id'] }}">{{ client['client_name'] }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="Status">Status</label> 
    <input type="text" placeholder="Not Started yet" name ="status"  value="{{ request.form['status']  }}"> 
    <br><br>
    <label for="start_date">Start Date:</label> 
    <input type="text" placeholder="mm/dd/yyyy" name ="start_date" value="{{ request.form['start_date']  }}"> 
    <br><br>
    <label for="Status">End Date:</label> 
    <input type="text" placeholder="mm/dd/yyyy" name ="end_date" value="{{ request.form['end_date']  }}"> 
    <br><br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
