{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit Student {% endblock %}</h1>
<form method="post">
    <label for="name">Student Name</label>
    <br>
    <input type="text" name="name"
           placeholder="Student Name"
           value="{{ student['name'] }}"></input>
    <br>

    <label for="size">Student Age</label>
    <br>
    <input type="number" name="age" placeholder="Student Age" value="{{ student['age'] }}"></input>
    <br>
    <label for="grade">Student Grade</label>
    <br>
    <input type="text" name="grade" placeholder="Student Grade" value="{{ student['grade'] }}"></input>
    <br>
    <label for="email">Student Email</label>
    <br>
    <input type="text" name="email" placeholder="Student Email" value="{{ student['email'] }}"></input>
    <br>    
    <label for="phone">Student Phone</label>
    <br>
    <input type="text" name="phone" placeholder="Student Phone" value="{{ student['phone'] }}"></input>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
