{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('create') }}">
    <button type="button" >Add Student</button>
</a>

<h1>{% block title %} Student List {% endblock %}</h1>
 
{% for student in students %}

<div class='student'>
    <h2>
        {{ student['name'] }}
    </h2>
    
    <p>
        ID: {{student['student_id']}} Age: {{ student['age'] }}  Grade: {{ student['grade'] }} Email: {{ student['email'] }} Phone: {{ student['phone'] }}
        <span style="padding-left:22px"/>
        <a href="{{ url_for('edit', id=student['student_id']) }}"><button>Edit</button></a>
        <span style="padding-left:12px"/>   
        <a href="{{ url_for('delete', id=student['student_id']) }}"><button>Delete</button></a>
    </p>
</div>  
{% endfor %}
{% endblock %}

